* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color:  hsl(218, 28%, 13%) ;
    color: white;
    font-family: Open Sans;
}
nav {
    background-color: hsl(218, 28%, 13%);
    display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 20px;
   font-family: Raleway;
   }
ul {
    display: flex;
    gap: 20px;
}
ul a {
    text-decoration: none;
    color: white;
}
/* ========== section 1 start here ============ */
 .section1 {
   max-width: 600px;
   padding: 20px 40px;
   text-align: center;
   margin: 20px auto;
}
.section1 img {
    width: 80%;
    max-width: 400px;
    margin-bottom: 20px;
}
.section1 button {
padding: 16px 64px;
background-color: aqua;
border-radius: 40px;
color: white;
font-family: open sans;
margin-top: 20px;
}
.section1 h1{
    margin-bottom: 20px;
}
/* ========== section 1 start here ============ */

.section2 {
    padding: 20px 40px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
}
.section2 div {
    text-align: center;
   
}
@media ( min-width: 768px) {
    .section2 {
        grid-template-columns: 1fr 1fr;
    }
}

.section2 img {
margin: 20px;
}